<div class="container-fluid mt-5 top" style="height: 600px;">
  <%= flash[:notice] %>
  <div class="row">
    <div class="col-6 px-5 mx-auto mt-5">
      <p class="h5">
        ようこそ、ゲーミングデバイスの決め所へ！<br>
        このサイトは、ゲーミングデバイスのレビュー投稿サイトです。<br>
        自分が使ったデバイスのレビューを投稿をしたり、デバイス探しの購入のきっかけにしてみてください<br>
      </p>
    </div>
  </div>
</div>
<div class="row mx-auto">
  <h3><%= link_to "投稿を見る=>", reviews_path %></h3>
</div>
