<table class ="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
       <th>名前</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100,100) %></td>
        <td><h4><%= link_to user.name, user_path(user.id) %></h4></td>
        <td><%= render "public/relationships/btn", user: user %></td>
      </tr>
      <% end %>
  </tbody>
</table>
