<footer class="bg-dark text-white mt-3 pt-3 pb-3">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-2 col-sm-2 ">
        <%= image_tag "loogo.png", size: "80x80" %>
      </div>
      <div class="col-md-7 col-sm-7 mt-3">
        <div class="m-3 pl-5">
          <h4 class="aligen-center">快適なゲームライフをその手につかむ</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <h6 class="text-white-50 text-right">Link</h6>
        <ul class=" list-unstyled">
          <li>
            <p class="text-white-50 text-right">会社概要</p>
          </li>
          <li>
            <p class="text-white-50 text-right">プライバシーポリシー</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>